# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/M03UF1A2_4/JavaApplication11/nbproject/private/
/M03UF1A2_4/M03UF1A2_4/build/
/M03UF1A2_4/M03UF1A2_4/nbproject/private/
/M03UF1A3_1/nbproject/private/
/M03UF1A3_1/build/
/M03UF1A3_2/nbproject/private/
/M03UF1A3_2/build/
/M03UF1A3_3/nbproject/private/
/M03UF1A3_3/build/
/M=3UF1A3_4/nbproject/private/
/M=3UF1A3_4/build/
/M03UF1A3_4/nbproject/private/
/M03UF1A3_4/build/
/M03UF1A3_3_1/nbproject/private/
/M03UF1A3_3_1/build/
/M04UF2A1/nbproject/private/
/M04UF2A1/build/
/M04UF2A1_2/nbproject/private/
/M04UF2A1_2/build/
/M04UF2A1_1/nbproject/private/
/M04UF2A1_1/build/
/M04UF2A1_4/nbproject/private/
/M04UF2A1_4/build/
/M03UF2A2_1/nbproject/private/
/FrasesConMasAs/nbproject/private/
/FrasesConMasAs/build/
/Pitagoras/nbproject/private/
/Pitagoras/build/
/M03UF3A1_1/nbproject/private/
/M03UF3A1_1/build/
/M03UF3A1_2/nbproject/private/
/M03UF3A1_2/build/
/prueba2/nbproject/private/
/JavaApplication29/nbproject/private/
/JavaApplication29/build/
/Pruebas/nbproject/private/
/Pruebas/build/
